@charset "UTF-8";

#loginPage input{
	width:120px;
	height: 20px;
	padding: 4px;
	outline: none;
	font-size: 20px;
	border: #EEE5D3 solid 2px;
	background-color: #BFA688;
	border-radius: 10px;
	font-family: "k";
	color: #EEE5D3;
}

#loginPage button{
	font-family: b;
	padding: 4px;
	height: 35px;
	font-size: 17px;
	border-radius: 10px;
	border: none;
	background-color:  #EEE5D3;
	color: #5a4f41;
	font-family: "k";
}

#joinTbl {
	color: #84735e;
}

#joinTbl th{
	padding-top: 40px;
	font-size: 35px;
}

#joinTbl input{
	width:250px;
	height: 17px;
	padding: 8px;
	font-size: 20px;
	outline: none;
	border: #BFA688 solid 2px;
	background-color: transparent;
	border-radius: 10px;
	font-family: "k";
	color: #BFA688;
}

#joinTbl .label {
	padding-top: 20px;
	padding-bottom: 5px;
	font-size: 20px;
}


#joinTbl button {
	margin-top: 20px;
	width:250px;
	height: 40px;
	font-size: 30px;
	border-radius: 10px;
	color: #EEE5D3;
	font-family: "k";
	background-color: #BFA688;
	border: none;
}

#joinTbl #one{
	width: 100px;
}
#joinTbl #two{
	width: 20px;
}

#joinTbl #profile{
	height: 30px;
}

#loginedTbl #profile{
	max-height: 100px;
	opacity: 1;
}
#loginedTbl{
	border: #EEE5D3 solid 2px;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 10px;
}
#loginedTbl th{
	padding-top:10px;
	font-size: 30px;
}
#loginedTbl button{
	width:110px;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
	color:#BFA688 ;
	font-family: "k";
	background-color: #EEE5D3;
	border: none;
}

#infoTbl{
	color: black;
	margin: 30px;
	padding: 20px;
	font-family: "k";
	font-size: 23px;
}

#infoTbl th{
	padding-top: 40px;
	font-size: 35px;
}

#infoTbl #profile {
	max-height: 150px;
	margin-left: 20px; 
	margin-top: 20px; 
}
#infoTbl #photoForm {
	border: #BFA688 solid 2px;
	width:300px;
	border-radius: 10px;
	font-family: "k";
}
#infoTbl #photoForm input{
	border: none;
	height: 17px;
	padding: 8px;
	font-size: 17px;
	margin-left: 20px;
}

#infoTbl input{
	width:300px;
	height: 17px;
	padding: 8px;
	font-size: 20px;
	outline: none;
	border: #BFA688 solid 2px;
	background-color: transparent;
	border-radius: 10px;
	font-family: "k";
	color: #BFA688;
}
#infoTbl button{
	margin-top: 30px;
	width:110px;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
	color:#EEE5D3 ;
	font-family: "k";
	background-color:#BFA688 ;
	border: none;
}
#infoTbl .label {
	padding-top: 20px;
	padding-bottom: 5px;
	font-size: 25px;
}
#infoTbl .noChange {
	color: #BFA688;
}

